* {
    margin: 0;
    padding: 0;
    background-color: #C4A16A;
};


nav{
    padding-bottom: 50px;
};

.greetings{
    position: relative;
};

#hello{
    color: rgba(255, 255, 255, 0.171);
    z-index: -1;
    font-family: 'Caveat';
    font-size: 100%;
};