* {
    margin: 0;
    padding: 0;
    background-color: #C4A16A;
};


nav{
    display: flex;
    flex-direction: row;
};


.greeting{
    position: relative;
};


#hello{
    color: rgba(255, 255, 255, 0.171);
    z-index: 1;
    font-family: 'Caveat';
    font-size: 500px;
};

.intro{
    z-index: 1;
}